body {
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%););

}

li {
    display: inline-block;
    float: right;
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(3, 0, 1);
    decoration: none;
}

#number {
   
    text-justify: center;
    text-align: center;
    margin-top: 10%;

}
h2 {
    font-size: 50px;
}